{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Detail Request</title>
<link rel="stylesheet" href="{% static 'feedback/css/style-details.css' %}">
{% endblock meta %}

{% block content %}
<div class="content-root">
    <a href="{% url 'home:publikasi' %}" id="button-kembali">&lt Kembali</a>

    <div class="details-judul">
        <h2>{{data.id_feedback}}</h2> <br>
        <h2>({{data.id_pengurus}})</h2>
    </div>

	<div class="details-info detail-only-desktop">
		<h1>Hasil Feedback</h1>
		<br>
		<div class="row">
			<div class="column">
				<h3>Komentar</h3>
				<p>{{data.komentar}}</p>
			</div>
		</div>
	</div>
	<div class="details-info only-mobile">
		<h1>Hasil Feedback</h1>
		<br>
		<h3>Komentar</h3>
		<p>{{data.komentar}}</p>
	</div>

	{% if dokumen != "" %}
	<div class="dokumen">
		<h3>Dokumen</h3>
		<embed src="{{dokumen}}" class="dokumen"/>
	</div>
	{% endif %}
</div>
    <script type="application/javascript" src="{% static 'publikasi/js/scripts-details.js' %}"></script>
{% endblock content %}
