{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <meta charset="UTF-8">
    <title>RMS - Request Management System</title>
<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
  <script type="application/javascript" src="{% static 'main/js/script.js' %}"></script>
{% endblock meta %}

{% block content %}
	<div class="content-home">
		<div class="home-top">
			<div class="home-top-color-filter">
				<div class="only-desktop">
					<h1>Get your task done<br>By using RMS</h1>
					<p>Permudah segala urusanmu dengan Request Management System</p>
					{% if not request.session.uid %}
					<a href="" class="button fit-content">Login Now!</a>
					{% endif %}
				</div>
				<object class="only-desktop" data="{% static 'main/svg/Scrum-board-pana.svg' %}" type="image/svg+xml"></object>
				<div class="only-mobile">
					<object data="{% static 'main/svg/Scrum-board-pana.svg' %}" type="image/svg+xml"></object>
					<div class="only-mobile">
						<h1>Get your task done<br>By using RMS</h1>
						<p>Permudah segala urusanmu dengan Request Management System</p>
						{% if not request.session.uid %}
						<a href="" class="button fit-content">Login Now!</a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		<div class="home-middle">
			<div class="home-middle-top">
				<object data="{% static 'main/svg/Mind-map-pana.svg' %}" type="image/svg+xml"></object>
				<div>
					<h2>Apa Itu Request Management System?</h2>
					<p>Request Management System adalah webapp untuk mempercepat dan mempermudah alur permintaan yang ada di internal suatu organisasi.</p>
				</div>
			</div>
			<div class="home-middle-middle">
				<div class="only-desktop">
					<h2>Kami menawarkan kemudahan</h2>
					<p>Misi kami adalah untuk meningkatkan efisiensi, efektifitas, dan memberikan kemudahan bagi para fungsionaris organisasi dan jajaran dibawahnya dalam melakukan permintaan.</p>
					<ul>
						<li><p>Seluruh informasi terintegrasi dalam satu tempat<p></li>
						<li><p>Memudahkan tracking progress permintaan<p></li>
						<li><p>Meminimalisir miskomunikasi dalam proses alur permintaan<p></li>
					</ul>
				</div>
				<object data="{% static 'main/svg/Features-Overview-pana.svg' %}" type="image/svg+xml"></object>
				<div class="only-mobile">
					<h2>Kami menawarkan kemudahan</h2>
					<p>Misi kami adalah untuk meningkatkan efisiensi, efektifitas, dan memberikan kemudahan bagi para fungsionaris organisasi dan jajaran dibawahnya dalam melakukan permintaan.</p>
					<ul>
						<li><p>Seluruh informasi terintegrasi dalam satu tempat<p></li>
						<li><p>Memudahkan tracking progress permintaan<p></li>
						<li><p>Meminimalisir miskomunikasi dalam proses alur permintaan<p></li>
					</ul>
				</div>
			</div>
			<div>
				<h1 class="home-features">Fitur Fitur</h1>
				<div class="home-middle-bottom">
					 <div class="home-card-container">
						<div class="home-card-top-blank"></div>
						<object data="{% static 'main/svg/Piggy-bank-pana.svg' %}" type="image/svg+xml"></object>
						<div class="home-card">
							<div class="only-desktop">
								<h2>Keuangan</h2>
								<p>Butuh melakukan permintaan reimburse?</p>
							</div>
							<div class="only-mobile">
								<h2>Keuangan</h2>
							</div>
							<a href="" class="button fit-content">Telusuri</a>
						</div>
					 </div>
					 <div class="home-card-container">
						<div class="home-card-top-blank"></div>
						<object data="{% static 'main/svg/Content-pana.svg' %}" type="image/svg+xml"></object>
						<div class="home-card">
							<div class="only-desktop">
								<h2>Publikasi</h2>
								<p>Butuh melakukan permintaan publikasi di kanal media?</p>
							</div>
							<div class="only-mobile">
								<h2>Publikasi</h2>
							</div>
							<a href="" class="button fit-content">Telusuri</a>
						</div>
					 </div>
					<div class="home-card-container">
						<div class="home-card-top-blank"></div>
						<object data="{% static 'main/svg/Mail-sent-pana.svg' %}" type="image/svg+xml"></object>
						<div class="home-card">
							<div class="only-desktop">
								<h2>Surat Menyurat</h2>
								<p>Ingin meminta persetujuan dan tanda tangan serta masalah persuratan?</p>
							</div>
							<div class="only-mobile">
								<h2>Surat Menyurat</h2>
							</div>
							<a href="" class="button fit-content">Telusuri</a>
						</div>
					 </div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}