{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Form Surat Menyurat</title>
    <link rel="stylesheet" href="{% static 'surat/css/style.css' %}"/>
{% endblock meta %}

{% block content %}
    <div class="content-root">
        <div class="form-root">
            <h1 id="judul-form">Form Pengajuan Surat Menyurat</h1>
            <section>
                <form action="postformsurat" method="post" id="form">
                    {% csrf_token %}
                    <label for="judul" >Judul</label>
                    <input type="text" id="judul" name="judul" placeholder="Judul Permintaan..."> <br/>

                    <label for="kegiatan" >Nama Kegiatan</label>
                    <input type="text" id="kegiatan" name="nama_kegiatan" placeholder="Nama Kegiatan..."><br/>

                    <label for="deskripsi">Deskripsi Singkat Kegiatan</label>
                    <input type="text" id="deskripsi" name="deskripsi" placeholder="Deksripsi Singkat..."><br/>

                    <label for="jenis">Jenis Surat</label>
                    <input type="text" id="jenis" name="jenis" placeholder="Jenis Surat"><br/>

                    <label for="insidental">Insidental</label><br>
                    <input type="radio" id="insidental" name="insidental" onchange="showInsidental(this)" value="True">Iya<br/>
                    <input type="radio" id="insidental" name="insidental" onchange="showInsidental(this)" value="False" checked>Tidak<br/><br/>

                    <a id="link_a" style="display: none"><p id="link"></p></a>

                    <label for="link-docs">Link Docs Surat</label>
                    <input type="url" name="linkdocs" id="linkdocs" placeholder="Masukkan link surat..."><br/>

                    <button class="button" type="submit" value="PostFormSk">Ajukan</button>
                </form>
            </section>
        </div>
        <object class="object only-desktop" data="{% static 'surat/svg/Envelope-pana.svg' %}" type="image/svg+xml"></object>
    </div>

    <script type="application/javascript" src="{% static 'surat/js/dropdown-surat.js' %}"></script>
    <script>
        $('select option:first-child').attr("selected", "selected");
    </script>
{% endblock content %}